// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: none; }
th, td {
  border-bottom: 1px solid #DDD;
  padding: 0 10px;
}
body { margin: 0; }
